html {
  /* background-color: #fce9d9; */
  background-color:  #f7e2d3;
}

body {
  font-family: "Trebuchet MS";
}

.navstyle {
  /* background-color: lightsteelblue !important; */
  background-color: rgb(238, 237, 235) !important; 
  /* color:#2e2f5e important;
} */
}
.navbar-brand{
  color:#2e2f5e !important;
  font-weight: bolder !important;
}

.quiz-container {
  padding: 1em;
}

.learn_buttons {
  /* margin-top: 60px; */
  padding-top: 10px;
  padding-left: 10px;
}

.learn_top {
  margin-top: 10px;
  margin-bottom: 30px;
}

.principle_num{
  font-size: large;
  font-weight: 100;
  margin-bottom: -10px;
}

.principle{
  font-size: x-large;
  font-weight: light;
  margin-bottom: 30px;
}

.quiz-header {
  font-size: x-large;
}
.color-block {
  min-height: 100px;
  min-width: 125px;
}
.color-block:hover {
  opacity: 0.8;
  cursor: grab;
}
.block-border {
  border: 5px solid rgb(88, 86, 86);
}
.correct-border {
  border: 5px solid rgb(13, 229, 13);
}
.wrong-border {
  border: 5px solid red;
}
.feedback {
  font-size: large;
  font-weight: bold;
}
.height-100 {
  height: 100px;
}
.height-150 {
  height: 150px;
}

.ui-draggable-dragging {
  z-index: 999999;
}
.draggable:hover {
  cursor: grab;
}
.droppable {
  background-color: lightgray;
}
.ui-droppable-active {
  background-color: lightgray !important;
}
.ui-droppable-hover {
  background-color: lightgray !important;
}

#accessory,
#bottom {
  min-height: 150px;
  height: fit-content;
}
#top {
  min-height: 120px;
  height: fit-content;
}

.welcome_header1 {
  text-align: center;
  font-weight: bold;
  font-size: large;
  margin-top: 60px;
  margin-bottom: 15px;
  color: black;
}



.container1 {
  height: 250px;
  width: auto;
  background-color: white;
}
.img_padding {
  padding-top: 15px;
  padding-right: 55px;
  padding-left: 30px;
}

.img_hover {
  position: relative;
}

.img_wrap {
  max-height: 400px;
  position: relative;
  display: block;
  opacity: 0.4;

  margin: auto;

  transition: opacity 0.3s linear, visibility 0.3s linear;
}


.img_description {
  position: absolute;
  /* top: 100%; */
  /* left: 100%; */
  width: 100%;
  background: rgba(235, 235, 235, 0.9);
  color: black;
  visibility: hidden;

  /* transition effect. not necessary */
  /* transition: opacity 0.3s linear, visibility 0.3s linear; */
}

.learn_wheel {
  display: inline-block;
  padding-top: 100px;
}

.full_opacity{
  opacity: 1.0 !important;
}

.wheel{
  opacity: 0.4;
}

.img_hover {
  justify-content: center;
  text-align: center;
}

.img_hover:hover .img_description {
  visibility: visible;
  opacity: 1;

  transition: all 0.3s ease-in-out;
}

.prev_margin {
  margin-right: 780px;
}
.quiz_margin {
  margin-right: 20px;
}

.disinlineblck {
  display: inline-block;
}
.big_bold {
  font-size: 18;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.medium_bold{
  font-size: 18;
  font-weight: bold;
}
/* .img_center {
  margin-left: 1px;
  margin-right: 1px;
} */

/* .triple_img_row {
  padding-left: 10px;
  padding-right: 10px;
} */

.q5_img {
  height: 370px;
  width: auto;
}

.q5_highlight {
  outline: 5px solid rgb(88, 86, 86);
  outline-offset: -5px;
}

.q5_correct {
  outline-color:rgb(13, 229, 13) !important;
}

.stick_container {
  display: block;
  position: absolute;
  width: 300px;
  height: 400px;
  
}

.head {
  width: 50px;
  height: 55px;
  border: 5px solid rgb(108, 106, 106);
  border-radius: 50%;
  display: block;
  position: relative;
  top: 8px;
  left: 131px;
  z-index: 1;
  transform-origin: center bottom;
}

.torso {
  width: 6px;
  height: 120px;
  border: 3px solid rgb(108, 106, 106);
  display: block;
  position: absolute;
  top: 8px;
  left: 170px;
}

.leftleg {
  width: 6px;
  height: 130px;
  border: 3px solid rgb(108, 106, 106);
  display: block;
  position: absolute;
  top: 8px;
  left: 169px;
  transform: rotate(18deg);
  transform-origin: top;
}

.rightleg {
  width: 6px;
  height: 130px;
  border: 3px solid rgb(108, 106, 106);
  display: block;
  position: absolute;
  top: 8px;
  left: 171px;
  transform: rotate(-18deg);
  transform-origin: top;
}

.leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid rgb(108, 106, 106);
  display: block;
  position: absolute;
  top: 45px;
  left: 72px;
  transform: rotate(-45deg);
  transform-origin: 100%;
}

.rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid rgb(108, 106, 106);
  display: block;
  position: absolute;
  top: 45px;
  left: 174px;
  transform: rotate(45deg);
  transform-origin: 0%;
}
.pants {
  position: relative;
  top: -25px;
  left: 130px;
}
.topp {
  position: relative;
  top: 0px;
  left: 130px;
}
.hatt{
  position: relative;
  top: 0px;
  left: 130px;

}
.parent {
  position: relative;
}
.accessory-spacing {
  margin-top: 130px;
}
.full_opacity {
  opacity: 1 !important;
}
.white-box {
  border-radius: 15px;
  /* border: 2px solid #2e2f5e; */
  border: 5px solid  #f9e1cd; 
  background-color: #2e2f5e;
  height: 180px;
  width: 200px;
  text-align: center;
  color: rgb(205, 204, 202);
  /* color: rgb(76, 71, 71) ; */
  padding-top: 35px;
 
}
.welcome-parent-div {
  margin: 1rem;
  /* padding: 2rem 2rem; */
  text-align: center;
}
.welcome-child-div {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.img_resize {
  width: 300px;
  height: auto;
}
.text-color {
  color: #2e2f5e;
}
.teach_button{
  background-color: #393a77;
  border-color:#393a77;
}
.test_button{
  /* background-color:  rgb(205, 204, 202); */
  background-color: rgb(238, 237, 235);
  margin-top:20px;
  color: #2e2f5e;
  /* color: rgb(241, 239, 239); */
}
.accenttext-color{
  color: rgb(108, 106, 106) ;
  
}
.center {
  margin-left: 400px;
}
#welcome_header {
  text-align: center;
  font-weight: bold;
  font-size: 40;
  margin-top: 60px;
  margin-bottom: 15px;
  color: #2e2f5e;
  /* color: rgb(5, 19, 83); */
}

.navbar-light {
  color: #2e2f5e !important;
  border: none !important;
  border-width: 0 !important;
} 
.container1 {
  height:auto;
  width: auto;
  background-color: #f7e2d3;
  /* background-color: rgb(247, 241, 241); */
}
.quiz-wheel {
 width: 160px;
 height: auto;
}
  #popup-content {
  visibility: hidden;
  }
  #popup-content.active {
    visibility: visible;
  }

