{% extends "layout.html" %} {% block content %}

<script>
  let data = {{data|tojson}}
  let next = {{next|tojson}}
  let before = {{before| tojson}}
</script>

<div class="row">
  {% if next == 1 %}
  <div class="col-md-12">
    <br />
    <div id="learn_header" class="text-font big_bold">{{data.text}}</div>
  </div>
  {% else %}
  <div class="disinlineblck">
    <br />
    <div id="learn_header2" class="big_bold text-font disinlineblck">
      Principle {{data.id}}
    </div>

    <div class="text-font">{{data.text}}</div>
  </div>
  <br />
  <br />
</div>
{% endif %}
<div class="row img_center">
  {% for example in data.examples %}

  <div class="col-md-3 img_wrap">
    <div>
      <img
        src="{{example.image}}"
        alt="exampleImage"
        width="330px"
        height="370px"
        class="img_padding"
      />
      <p class="img_description text-font">{{example.description}}.</p>
    </div>
  </div>

  {% endfor %}
</div>
<br />
<br />
<div class="row">
  {% if next == 7 %}
  <a href="/quiz/0" class="btn btn-primary text-font quiz_margin">Quiz me</a>
  <a href="/learn/0" class="btn btn-secondary text-font">Redo lesson</a>
  {% elif next == 1 %}
  <div class="col-md-12 start_center">
    <a href="/learn/{{next}}" class="btn btn-primary text-font">Start Lesson</a>
  </div>
  {% else %}

  <div class="row">
    <div>
      <a
        href="/learn/{{before}}"
        class="btn btn-secondary text-font prev_margin"
        >Previous Principle</a
      >
    </div>

    <div class>
      <a href="/learn/{{next}}" class="btn btn-primary text-font"
        >Next Principle</a
      >
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
