{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{data|tojson}} // ONLY question being asked
    let next = {{next|tojson}}
</script>
<script src="../static/quiz.js"></script>


<div class="quiz-container align-items-center">
{% if next == 1 or next == 7%}
<div class="col">
    <div class=" quiz-header text-center my-4" >
            {{data.text}}
    </div>
    {% if next == 7%}
    <div class=" quiz-header text-center my-4" id="overall" >
      
    </div>
       
    {%endif%}
    <div class="quiz-buttons text-center ">
        {% if next == 7%}
        <a href="/quiz/{{next}}" class="btn btn-primary">Redo Quiz</a>
        {%else%}
        <a href="/quiz/{{next}}" class="btn btn-primary">Start Quiz</a>
        {%endif%}
        <a href="/" class="btn btn-secondary">Home </a>

    </div>
</div>
{% else %}
    <div class="col">
        <div class="row d-block">
            <div class="quiz-header my-2 font-weight-bold" >
                Question {{data.id}}: 
            </div>
    
            <div  class="quiz-header my-2 ">
            {{data.text}}
            </div>

        </div>
        
       
       
        <div class="row" id="color-grid">
         
            
            

        </div>
        {% if next>2 %}
         <div class="row mt-4 " id="drop-grid">
             

         </div>
        {%endif%}
       
      

        <div class="row quiz-buttons my-3">

            {% if next == 7 %}
            
            <a href="/" class="btn btn-secondary">Home</a>
            <a href="/learn/0" class="btn btn-secondary">Redo lesson</a>
            <a href="/quiz/0" class="btn btn-secondary">Redo quiz</a>    
            {% elif next!=1 %}
            <button id="submit" class="btn btn-primary">Submit</button>

            {% endif %}
    {% endif %}
        </div>
    </div>
    

</div>

{% endblock %}
