{% extends "layout.html" %} {% block content %}

<div id="welcome_header" class="quiz-header text-center my-4 py-1">
  Color Theory for Style
  <!-- <div>Never go out of style with these principles.</div> -->
</div>
<div class="text-center welcome_img">
  <img src="/static/images/p3wheel.png" alt="Color Wheel" class="img_resize" />
</div>
<br />
<div class="disinlineblck center">
  <div class="disinlineblck white-box">
    <p>Learn the basics of color theory. Never go out of style</p>
    <a href="/learn/0" class="text-font text-color">Teach Me </a>
  </div>
  <div class="disinlineblck white-box">
    <p>You've got Style? Show Off</p>
    <a href="/quiz/0" class="text-font text-color">Test Me</a>
  </div>
</div>

{% endblock %}
