{% extends "layout.html" %} {% block content %}
<script src="../static/welcome.js"></script>
<script src="../static/jquery.imagemapster.js"></script>

<div
  class="quiz-container justify-content-center align-items-center text-center"
>
  <div id="welcome_header" class="quiz-header text-center my-4 py-1">
    Welcome to Color Theory for Style
    <!-- <div>Never go out of style with these principles.</div> -->
  </div>
  <div class="my-4 d-inline-block">
    <img
      src="/static/images/p3wheel.png"
      alt="Color Wheel"
      class="img_resize wheel img_wrap"
      usemap="#colorwheel"
    />
    <map name="colorwheel" id="colorwheel">
      <area
        alt="yellow"
        title="yellow"
        href="#"
        coords="146,69,169,65,187,67,202,69,220,4,192,0,150,0,130,6"
        shape="poly"
      />
      <area
        alt="lightOrange"
        title="lightOrange"
        href="#"
        coords="203,68,218,75,231,85,253,97,296,50,278,33,263,22,245,13,220,5"
        shape="poly"
      />
      <area
        alt="orange"
        title="orange"
        href="#"
        coords="252,96,296,50,309,61,319,73,328,90,338,107,342,131,281,148,273,128,261,107"
        shape="poly"
      />
      <area
        alt="redOrange"
        title="redOrange"
        href="#"
        coords="282,149,342,133,349,145,349,159,349,176,349,192,346,211,344,218,279,204,286,178"
        shape="poly"
      />
      <area
        alt="red"
        title="red"
        href="#"
        coords="280,201,344,217,334,247,316,276,301,298,252,251,266,236,276,219"
        shape="poly"
      />
      <area
        alt="deepRed"
        title="deepRed"
        href="#"
        coords="252,252,299,299,274,320,247,336,220,343,203,278,221,274,233,268,242,260"
        shape="poly"
      />
      <area
        alt="purple"
        title="purple"
        href="#"
        coords="148,280,168,286,185,285,202,280,220,341,188,350,164,350,130,343"
        shape="poly"
      />
      <area
        alt="navy"
        title="navy"
        href="#"
        coords="99,252,112,263,132,274,148,280,130,342,108,336,87,326,66,311,53,296"
        shape="poly"
      />
      <area
        alt="blue"
        title="blue"
        href="#"
        coords="71,205,8,221,13,239,21,256,30,271,44,290,54,297,98,251,85,239,77,222"
        shape="poly"
      />
      <area
        alt="lightBlue"
        title="lightBlue"
        href="#"
        coords="8,221,70,203,68,190,65,170,70,148,7,130,1,154,2,193,0,179,4,207"
        shape="poly"
      />
      <area
        alt="green"
        title="green"
        href="#"
        coords="96,98,82,116,74,132,70,146,6,131,9,116,18,94,30,74,40,62,51,53"
        shape="poly"
      />
      <area
        alt="lightGreen"
        title="lightGreen"
        href="#"
        coords="96,98,106,89,119,78,132,71,145,67,129,5,110,13,96,19,76,32,60,43,52,51"
        shape="poly"
      />
    </map>
  </div>

  <div class="welcome-parent-div my-4">
    <div class="disinlineblck welcome-child-div white-box">
      <p>Learn The Basics of Color Theory. Never Go Out of Style</p>
      <a href="/learn/0" class="text-font btn btn-primary test_button"
        >Teach Me
      </a>
    </div>

    <div class="disinlineblck welcome-child-div white-box">
      <p>You've Got Style? Show It Off</p>
      <a href="/quiz/0" class="text-font mt-4 btn btn-secondary test_button"
        >Test Me</a
      >
    </div>
  </div>
</div>

{% endblock %}
